body {
  background: linear-gradient(#a98ec0, #6b898b);
}
nav {
  display: flex;
  background-color: darkslategrey;
  justify-content: center;
  text-decoration: none;
  margin: -15px -25px 3px -25px;
}
nav ul li {
  display: inline;
  justify-content: center;
  text-decoration: none;
  margin: 10px;
}
header {
  text-align: center;
  border-color: silver;
  border-width: 5px;
  border-style: solid;
  margin: auto;
  padding: 10px;
}
main section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}
article {
  display: flex;
  background: white;
  max-width: 20rem;
  border-radius: 15px;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin: 20px;
  min-width: 20ch;
}
article p {
  text-align: center;
  min-width: 20ch;
}
article a {
  display: flex;
  text-decoration: none;
  color: #77769c;
  background-color: silver;
  border-radius: 3px;
}
div {
  font-size: clamp(2rem, 10vw, 4rem);
}
.brows {
  font-size: clamp(4rem, 10vw, 8rem);
}
footer {
  display: flex;
  background-color: darkslategrey;
  display: flex;
  margin: -25px;
}
footer p {
  display: flex;
  text-align: center;
  color: white; 
  margin: auto;
  padding: 15px;
}