main {
    background-color: linear-gradient(#8786b3, #6b898b);
}
/* body {
    background-color: linear-gradient(#8786b3, #6b898b);
  }
header {
    text-align: center;
  }
main section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
  }
  
article {
    background-color: 	;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
  }
article p {
    text-align: center;
  }
img {
    max-width: 500px;
    min-width: 200px;
    font-size: clamp(2rem, 10vw, 4rem);
  }
*/