body {
    background-color: #8786b3;
  }
header {
    text-align: center;
  }
main section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
  }
  
article {
    background-color: 	#6b898b;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
  }
article p {
    text-align: center;
  }
img {
    font-size: clamp(2rem, 10vw, 4rem);
  }
